
   <% include('../layouts/header.ejs') %>

    <h1>Forget password</h1>

    <form class="form-signIn" action="" method="post">
        <!-- <label for="password">New Password</label> -->
        <input type="password" class="form-control" required name="password" placeholder="Enter Password">
        <!-- <input type="hidden" name="user_id" value= "<%= user_id %>"> -->
        <input type="hidden" name="user_id" value="<%= user_id %>">

        <input type="submit" value="Reset Password">
    </form>

