<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('../layouts/header2.ejs') %>
    <h1>welcome to home page</h1>
    <!-- <a href="/logout">Logout</a> -->
</body>
</html>